extends ../shared/template

block content
  h1= sampleModel.whatever
  a(href='/sampleModels/edit/' + sampleModel._id)= Edit
  form(action='/sampleModels/' + sampleModel._id, method='delete')
    button Delete

